/* custom css file */



/* layout & style */

.button {
    background-color: #AFBA94;
    color: #FFF
}



/* footer */

footer {
    background-color: #AFBA94;
    color: #FFF;
}

footer label {
    color: #FFF